.movie-info-container{
    display: flex;
    padding-inline: 10%;
    column-gap: 3rem;
    padding-top: 3%;
}
.movie-pics img {
    width: 25rem;
}

.movie-info-container p{
    margin: 10px 0 0 0 ;
}
.movie-info-container span{
    
    font-weight: 200;
}
#btn{
    background-color: white;
    width: 10%;
    padding: 10px;
    align-items: center;
    text-align: center;
    margin-left: 36rem;
    margin-top: 3em;
    font-size: 15px;
    border-radius: 10px;
}
