
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
}

.logo{
    font-weight: 700;
    font-size: 1.5rem;
    list-style-type: none;
    list-style: none;
    text-decoration: none;
    color: white;
}
.link {
    text-decoration: none;
    color: white;
}

.header ul{
    display: flex;
    column-gap: 40px;
    list-style-type: none;
    font-size: 0.85rem;
}
li a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: blue;
}
