@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
  --bluePurple-gradient:linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  --lightBlue-gradient:linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

body{
  background-color: black;
  color: white;
}

*{
  box-sizing: border-box;
  font-family: "Poppins";
}
